* {
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.content-item {
    margin-top: 25px;
}

.content-item__wrapper {
    padding: 10px;
}

img {
    max-width: 100%;
}

.content-item__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
}

.content-item__inner {
    border: 0.4px solid #828282;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 17px;
}

.content-item__hint {
    position: absolute;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
}

.hit-orange {
    color: #3e3e3e;
    background-color: #FED74B;
    top: 10%;
    left: 0;
}

.hint-blue {
    color: #fff;
    background-color: #7553FF;
    top: 0;
    left: 0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.hint-none {
    display: none;
}

.content-item__times {
    margin-top: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 0 12px;
}

.content-item__times-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.7;
}

.content-item__times-logo {
    width: 14px;
    height: 14px;
    border: 2px solid #c7c7c7;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.content-item__times-logo:before {
    content: '';
    position: absolute;
    top: 48%;
    left: 50%;
    width: 2px;
    height: 7px;
    background-color: #C7C7C7;
    -webkit-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.content-item__times-logo:after {
    content: '';
    position: absolute;
    top: 48%;
    left: 50%;
    width: 6px;
    height: 2px;
    background-color: #C7C7C7;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.content-item__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.content-item__title {
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    line-height: 22px;
    font-weight: 600;
    color: #404040;
    margin-top: 5px;
}

.content-item__advantages {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
}

.content-item__advantages-list {
    list-style-type: none;
}

.list__item {
    margin: 9px 0px;
    padding-left: 25px;
    position: relative;
}

.list__item::before {
    content: '';
    background: url(images/01.png) center no-repeat;
    position: absolute;
    width: 16px;
    height: 12px;
    top: 0%;
    left: 0;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    color: #FECF01;
}

.content-item__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px -4px 0px;
    flex-wrap: wrap;
}

.list__item-text {
    margin-bottom: 12px;
}

.button__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 5px 4px;
    padding: 2px 12px;
    cursor: pointer;
    background-color: #D9E8FF;
    border-radius: 10px;
    font-size: 12px;
    line-height: 20px;
}

.content-item__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    align-items: center;
}

.content-item__footer {
    margin-top: 30px;
}

.footer-button {
    padding: 11px 25px 11px 30px;
    background-color: #FED74B;
    border-radius: 20px;
    cursor: pointer;
    color: #404040;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.price-title {
    font-size: 28px;
    line-height: 20px;
    color: black;
}

.price-text {
    font-size: 10px;
    line-height: 20px;
}

.images {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.cercle {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 30%;
    right: 10px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
}

.picture {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (min-width: 700px) {
    .content-item__inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .content-item__main {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 10px;
    }
    .container {
        max-width: 1100px;
    }
    .content-item__footer {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .content-item__footer-price {
        margin-right: 20px;
    }
    .content-item__inner {
        padding-bottom: 0px;
    }
    .content-item__title {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .content-item__times {
        margin-top: 5px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .content-item__advantages {
        margin-top: 0px;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .content-item__footer {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
    .content-item__footer {
        margin-top: 13px;
    }
}

@media screen and (min-width: 921px) {
    .list__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .content-item__buttons {
        margin-left: 6px;
    }
    .price-text {
        font-size: 14px;
        font-weight: 400;
        padding-top: 5px;
    }
}

@media screen and (min-width: 1024px) {
    .content-item__title {
        font-size: 23px;
        line-height: 34px;
        font-weight: 400;
        color: black;
    }
    .content-item__images {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
        flex: 1 1 45%;
    }
    .content-item__main {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 55%;
        flex: 1 1 55%;
    }
    .list__item {
        font-size: 18px;
        line-height: 20px;
    }
    .content-item__hint {
        font-size: 16px;
    }
}